[submodule "3rdparty/folly"]
	path = 3rdparty/folly
	url = https://github.com/facebook/folly.git
[submodule "3rdparty/Sprout"]
	path = 3rdparty/Sprout
	url = https://github.com/OlivierSohn/Sprout.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
