
#include "../../shared/xcode.config/project.xcconfig"

// Header Search Paths
// 
// This is a list of paths to folders to be searched by the compiler for included or
// imported header files when compiling C, Objective-C, C++, or Objective-C++. Paths are
// delimited by whitespace, so any paths with spaces in them need to be properly quoted.
// [-I]

HEADER_SEARCH_PATHS = $(PROJECT__HEADER_SEARCH_PATHS) "$(PROJECT_DIR)/../tp.libpngpp" "$(PROJECT_DIR)/../tp.libpng" "$(PROJECT_DIR)/../tp.glm" 
