
#include "../../shared/xcode.config/tp.qu.googletest.xcconfig"
#include "../../shared/xcode.config/tp.qu.googletest.xc.bundle.xcconfig"

LOCAL__HEADER_SEARCH_PATHS =

HEADER_SEARCH_PATHS = $(inherited) $(GOOGLETEST__HEADER_SEARCH_PATHS) $(LOCAL__HEADER_SEARCH_PATHS)

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GOOGLETESTXC__GCC_PREPROCESSOR_DEFINITIONS) IMJ_WITH_OPENCL SRC_ROOT=/Users/Olivier/Dev/cpp.algorithms/opencl_kernels
